[project]
	description = bbc_api
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rajarshi Das (rajcybage)
[access "refs/for/refs/*"]
	read = group user/Rajarshi Das (rajcybage)
	push = group user/Rajarshi Das (rajcybage)
	label-Code-Review = -2..+2 group user/Rajarshi Das (rajcybage)
	label-Verified = -1..+1 group user/Rajarshi Das (rajcybage)
	rebase = group user/Rajarshi Das (rajcybage)
	removeReviewer = group user/Rajarshi Das (rajcybage)
	submit = group user/Rajarshi Das (rajcybage)
[access "refs/heads/*"]
	read = group user/Rajarshi Das (rajcybage)
	create = group user/Rajarshi Das (rajcybage)
	push = +force group user/Rajarshi Das (rajcybage)
	pushMerge = group user/Rajarshi Das (rajcybage)
[access "refs/tags/*"]
	push = +force group user/Rajarshi Das (rajcybage)
	pushTag = group user/Rajarshi Das (rajcybage)
	pushSignedTag = group user/Rajarshi Das (rajcybage)
